//----------------------------------------------------------------------------
// typography.scss
// headings, body text, lists, code, and more 
//----------------------------------------------------------------------------

// ---------------------------------------------------------------------------
// TYPOGRAPHY

$baseFontSize                             : 16px;
$baseFontFamily                           : "Helvetica Neue", Helvetica, Arial, sans-serif;
$baseLineHeight                           : 24px;

$altFontFamily                            : Georgia, Times, "Times New Roman", serif;
$altLineHeight                            : 1.35em;

$headingsFontFamily                       : inherit; 			            // empty to use BS default, @baseFontFamily
$headingsFontWeight                       : bold;    			            // instead of browser default, bold
$headingsColor                            : inherit; 						      // empty to use BS default, @textColor

$codeFont                                 : Monaco, Courier New, monospace;


// ---------------------------------------------------------------------------
// @TYPOGRAPHY VERTICAL RYTHM

@include establish-baseline;

$base-font-size                           : $baseFontSize;
$base-line-height                         : $baseLineHeight;
$default-rhythm-border-style              : solid;
$relative-font-sizing                     : true;
$round-to-nearest-half-line               : false;
$min-line-padding                         : 2px;
$font-unit                                : if($relative-font-sizing, 1em, $base-font-size);

// ---------------------------------------------------------------------------
// SPACES

$spaceXS					: $baseLineHeight / 6;
$spaceS 					: $baseLineHeight / 4;
$spaceM 					: $baseLineHeight / 2;
$space 						: $baseLineHeight;
$spaceL 					: $baseLineHeight * 2;
$spaceXL 					: $baseLineHeight * 4;


// ---------------------------------------------------------------------------
// @BODY

p,
ol,
ul,
dl,
address 
{
  @include rhythm(1, 0, 0, 1, 16px);
  font-family: $baseFontFamily;

  small 
  {
    color: $grayLight;
    @include rhythm(1, 0, 0, 1, 12px);
  }
}



// ---------------------------------------------------------------------------
// @LINKS

a 
{
  color: $linkColor;
  text-decoration: none;
}
a:hover 
{
  color: $linkColorHover;
  text-decoration: underline;
}



// ---------------------------------------------------------------------------
// @HEADINGS

h1, h2, h3, h4, h5, h6 
{
  margin: 0;
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}

h1
{ 
  @include leader(2, 32px, padding);
  @include adjust-font-size-to(32px);  
}

h2 
{ 
    @include leader(1, 24px, margin);
    @include adjust-font-size-to(24px); 
}

h3 
{
    @include leader(1, 21px, margin);
    @include adjust-font-size-to(21px); 
}

h4 
{
    @include leader(1, 18px, margin);
    @include adjust-font-size-to(18px); 
}

h5 
{
    @include leader(1, 16px, margin);
    @include adjust-font-size-to(16px); 
}

h6 
{
    @include leader(1, 14px, margin);
    @include adjust-font-size-to(14px); 
}



// ---------------------------------------------------------------------------
// @TYPOGRAPHY

blockquote
{
  color: $gray;
  @include rhythm(1, 0, 0, 1, 18px);
  @include adjust-font-size-to(18px); 
  margin-left: $gutter-width;
  padding-left : $gutter-width;
  font-family : $altFontFamily;
  font-style: italic;
}

q 
  {
    quotes : none; 
  }

blockquote:before,
blockquote:after,
q:before,
q:after 
{
  content : '';
  content : none; 
}

blockquote:before
{
  font-family: $altFontFamily;
  font-style:normal;
  content: "“";
  @include adjust-font-size-to(48px, 2, 14px);
  text-indent:-.5em;
  float:left;
  opacity:.3;
}

cite 
{
  display:block;
  text-transform:uppercase;
  font-style : normal; 
  font-weight:900;
  text-align: right;
  margin-right: $column-width;

  &:before
  {
    content:"- ";

  }
}



// ---------------------------------------------------------------------------
// LISTS

ul
{
  margin: 0 0 0 1em;
  padding: 0;
  list-style-position:outside;
  list-style-type:disc;

  .noStyle
  {
    list-style-type: none;
  }
}

li
  {
    @include margin-trailer(.5, $baseFontSize);
  }

ol
  {
    margin: 0 0 0 1.3em;
    padding: 0;
    list-style-position:outside;
    list-style-type:decimal;
  }

//DEFINITION LISTS

dl,
dd 
  {
    margin-bottom : $baseLineHeight;  
  }

dt 
  {
    font-weight : bold; 
  }

.dl-horizontal 
{

  dt 
  {
    float : left;
    clear : left;
    width : 20.25%;
    text-align : right; 
  }

  dd 
  {
    margin-left : 22.78%; 
  }
}



// ---------------------------------------------------------------------------
// TEXT-LEVEL

abbr[title] 
  {
    border-bottom : 1px dotted $borderColor;
    cursor : help; 
  }

b, strong 
  {
    font-weight : bold; 
  }

dfn 
  {
    font-style : italic; 
  }

ins 
  {
    background-color : lighten($baseColor, 75%);
    color : $baseTextColor;
    text-decoration : none; 
  }

mark 
  {
    background-color : lighten($baseColor, 75%);
    color : $baseTextColor;
    font-style : italic;
    font-weight : bold; 
  }

pre,
code,
kbd,
samp 
  {
    font-family : $codeFont;
     @include adjust-font-size-to(14px); 
  }

pre 
  {
    white-space : pre;
    white-space : pre-wrap;
    word-wrap : break-word; 
  }

sub,
sup 
  {
    position : relative;
    @include adjust-font-size-to(12px); 
    line-height : 0;
    vertical-align : $baseLineHeight; 
  }

sup 
  {
    top : -.5em; 
  }

sub 
  {
    bottom : -.25em; 
  }