/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 21, ../scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 31, ../scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../scss/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../scss/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 82, ../scss/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 90, ../scss/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 103, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 113, ../scss/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 127, ../scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 132, ../scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 137, ../scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 142, ../scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 147, ../scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 152, ../scss/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 161, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 170, ../scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 174, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 182, ../scss/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 190, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 200, ../scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 212, ../scss/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 222, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 235, ../scss/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 242, ../scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 247, ../scss/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 257, ../scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 264, ../scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 268, ../scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 284, ../scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 288, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 298, ../scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 307, ../scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 323, ../scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 332, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 345, ../scss/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 358, ../scss/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 366, ../scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 378, ../scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 394, ../scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 406, ../scss/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 420, ../scss/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 431, ../scss/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 443, ../scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 455, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 467, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 477, ../scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 487, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 501, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 66, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 11, ../scss/_site.scss */
html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 21, ../scss/_site.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 1.5em;
  -moz-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top;
}

/* line 40, ../scss/_site.scss */
img,
embed,
object,
video {
  max-width: 100%;
}

/* line 48, ../scss/_site.scss */
.page {
  *zoom: 1;
  max-width: 29em;
  _width: 29em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(13.793%, rgba(100, 100, 225, 0.25)), color-stop(13.793%, rgba(0, 0, 0, 0)), color-stop(17.241%, rgba(0, 0, 0, 0)), color-stop(17.241%, rgba(100, 100, 225, 0.25)), color-stop(31.034%, rgba(100, 100, 225, 0.25)), color-stop(31.034%, rgba(0, 0, 0, 0)), color-stop(34.483%, rgba(0, 0, 0, 0)), color-stop(34.483%, rgba(100, 100, 225, 0.25)), color-stop(48.276%, rgba(100, 100, 225, 0.25)), color-stop(48.276%, rgba(0, 0, 0, 0)), color-stop(51.724%, rgba(0, 0, 0, 0)), color-stop(51.724%, rgba(100, 100, 225, 0.25)), color-stop(65.517%, rgba(100, 100, 225, 0.25)), color-stop(65.517%, rgba(0, 0, 0, 0)), color-stop(68.966%, rgba(0, 0, 0, 0)), color-stop(68.966%, rgba(100, 100, 225, 0.25)), color-stop(82.759%, rgba(100, 100, 225, 0.25)), color-stop(82.759%, rgba(0, 0, 0, 0)), color-stop(86.207%, rgba(0, 0, 0, 0)), color-stop(86.207%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(100, 100, 225, 0.25)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.793%, rgba(0, 0, 0, 0) 13.793%, rgba(0, 0, 0, 0) 17.241%, rgba(100, 100, 225, 0.25) 17.241%, rgba(100, 100, 225, 0.25) 31.034%, rgba(0, 0, 0, 0) 31.034%, rgba(0, 0, 0, 0) 34.483%, rgba(100, 100, 225, 0.25) 34.483%, rgba(100, 100, 225, 0.25) 48.276%, rgba(0, 0, 0, 0) 48.276%, rgba(0, 0, 0, 0) 51.724%, rgba(100, 100, 225, 0.25) 51.724%, rgba(100, 100, 225, 0.25) 65.517%, rgba(0, 0, 0, 0) 65.517%, rgba(0, 0, 0, 0) 68.966%, rgba(100, 100, 225, 0.25) 68.966%, rgba(100, 100, 225, 0.25) 82.759%, rgba(0, 0, 0, 0) 82.759%, rgba(0, 0, 0, 0) 86.207%, rgba(100, 100, 225, 0.25) 86.207%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.793%, rgba(0, 0, 0, 0) 13.793%, rgba(0, 0, 0, 0) 17.241%, rgba(100, 100, 225, 0.25) 17.241%, rgba(100, 100, 225, 0.25) 31.034%, rgba(0, 0, 0, 0) 31.034%, rgba(0, 0, 0, 0) 34.483%, rgba(100, 100, 225, 0.25) 34.483%, rgba(100, 100, 225, 0.25) 48.276%, rgba(0, 0, 0, 0) 48.276%, rgba(0, 0, 0, 0) 51.724%, rgba(100, 100, 225, 0.25) 51.724%, rgba(100, 100, 225, 0.25) 65.517%, rgba(0, 0, 0, 0) 65.517%, rgba(0, 0, 0, 0) 68.966%, rgba(100, 100, 225, 0.25) 68.966%, rgba(100, 100, 225, 0.25) 82.759%, rgba(0, 0, 0, 0) 82.759%, rgba(0, 0, 0, 0) 86.207%, rgba(100, 100, 225, 0.25) 86.207%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.793%, rgba(0, 0, 0, 0) 13.793%, rgba(0, 0, 0, 0) 17.241%, rgba(100, 100, 225, 0.25) 17.241%, rgba(100, 100, 225, 0.25) 31.034%, rgba(0, 0, 0, 0) 31.034%, rgba(0, 0, 0, 0) 34.483%, rgba(100, 100, 225, 0.25) 34.483%, rgba(100, 100, 225, 0.25) 48.276%, rgba(0, 0, 0, 0) 48.276%, rgba(0, 0, 0, 0) 51.724%, rgba(100, 100, 225, 0.25) 51.724%, rgba(100, 100, 225, 0.25) 65.517%, rgba(0, 0, 0, 0) 65.517%, rgba(0, 0, 0, 0) 68.966%, rgba(100, 100, 225, 0.25) 68.966%, rgba(100, 100, 225, 0.25) 82.759%, rgba(0, 0, 0, 0) 82.759%, rgba(0, 0, 0, 0) 86.207%, rgba(100, 100, 225, 0.25) 86.207%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.793%, rgba(0, 0, 0, 0) 13.793%, rgba(0, 0, 0, 0) 17.241%, rgba(100, 100, 225, 0.25) 17.241%, rgba(100, 100, 225, 0.25) 31.034%, rgba(0, 0, 0, 0) 31.034%, rgba(0, 0, 0, 0) 34.483%, rgba(100, 100, 225, 0.25) 34.483%, rgba(100, 100, 225, 0.25) 48.276%, rgba(0, 0, 0, 0) 48.276%, rgba(0, 0, 0, 0) 51.724%, rgba(100, 100, 225, 0.25) 51.724%, rgba(100, 100, 225, 0.25) 65.517%, rgba(0, 0, 0, 0) 65.517%, rgba(0, 0, 0, 0) 68.966%, rgba(100, 100, 225, 0.25) 68.966%, rgba(100, 100, 225, 0.25) 82.759%, rgba(0, 0, 0, 0) 82.759%, rgba(0, 0, 0, 0) 86.207%, rgba(100, 100, 225, 0.25) 86.207%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 13.793%, rgba(0, 0, 0, 0) 13.793%, rgba(0, 0, 0, 0) 17.241%, rgba(100, 100, 225, 0.25) 17.241%, rgba(100, 100, 225, 0.25) 31.034%, rgba(0, 0, 0, 0) 31.034%, rgba(0, 0, 0, 0) 34.483%, rgba(100, 100, 225, 0.25) 34.483%, rgba(100, 100, 225, 0.25) 48.276%, rgba(0, 0, 0, 0) 48.276%, rgba(0, 0, 0, 0) 51.724%, rgba(100, 100, 225, 0.25) 51.724%, rgba(100, 100, 225, 0.25) 65.517%, rgba(0, 0, 0, 0) 65.517%, rgba(0, 0, 0, 0) 68.966%, rgba(100, 100, 225, 0.25) 68.966%, rgba(100, 100, 225, 0.25) 82.759%, rgba(0, 0, 0, 0) 82.759%, rgba(0, 0, 0, 0) 86.207%, rgba(100, 100, 225, 0.25) 86.207%, rgba(100, 100, 225, 0.25) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

/* line 56, ../scss/_site.scss */
.header {
  margin: 0 auto;
}

/* line 16, ../scss/_typography.scss */
p,
ol,
ul,
dl,
address {
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 21, ../scss/_typography.scss */
p small,
ol small,
ul small,
dl small,
address small {
  color: #bfbfbf;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 2em;
}

/* line 33, ../scss/_typography.scss */
a {
  color: #0099cc;
  text-decoration: none;
}

/* line 38, ../scss/_typography.scss */
a:hover {
  color: #007399;
  text-decoration: underline;
}

/* line 49, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 58, ../scss/_typography.scss */
h1 {
  padding-top: 1.5em;
  font-size: 2em;
  line-height: 1.5em;
}

/* line 64, ../scss/_typography.scss */
h2 {
  margin-top: 1em;
  font-size: 1.5em;
  line-height: 2em;
}

/* line 70, ../scss/_typography.scss */
h3 {
  margin-top: 1.143em;
  font-size: 1.313em;
  line-height: 2.286em;
}

/* line 76, ../scss/_typography.scss */
h4 {
  margin-top: 1.333em;
  font-size: 1.125em;
  line-height: 1.333em;
}

/* line 82, ../scss/_typography.scss */
h5 {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* line 88, ../scss/_typography.scss */
h6 {
  margin-top: 1.714em;
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 101, ../scss/_typography.scss */
blockquote {
  color: gray;
  margin-top: 1.333em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.333em;
  font-size: 1.125em;
  line-height: 1.333em;
  margin-left: 1em;
  padding-left: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

/* line 112, ../scss/_typography.scss */
q {
  quotes: none;
}

/* line 120, ../scss/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 126, ../scss/_typography.scss */
blockquote:before {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  content: "“";
  font-size: 3.429em;
  line-height: 1em;
  text-indent: -0.5em;
  float: left;
  opacity: .3;
}

/* line 137, ../scss/_typography.scss */
cite {
  display: block;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  text-align: right;
  margin-right: 4em;
}
/* line 146, ../scss/_typography.scss */
cite:before {
  content: "- ";
}

/* line 158, ../scss/_typography.scss */
ul {
  margin: 0 0 0 1em;
  padding: 0;
  list-style-position: outside;
  list-style-type: disc;
}
/* line 165, ../scss/_typography.scss */
ul .noStyle {
  list-style-type: none;
}

/* line 171, ../scss/_typography.scss */
li {
  margin-bottom: 0.75em;
}

/* line 176, ../scss/_typography.scss */
ol {
  margin: 0 0 0 1.3em;
  padding: 0;
  list-style-position: outside;
  list-style-type: decimal;
}

/* line 187, ../scss/_typography.scss */
dl,
dd {
  margin-bottom: 24px;
}

/* line 192, ../scss/_typography.scss */
dt {
  font-weight: bold;
}

/* line 200, ../scss/_typography.scss */
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
/* line 208, ../scss/_typography.scss */
.dl-horizontal dd {
  margin-left: 22.78%;
}

/* line 219, ../scss/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted #1f7a98;
  cursor: help;
}

/* line 225, ../scss/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 230, ../scss/_typography.scss */
dfn {
  font-style: italic;
}

/* line 235, ../scss/_typography.scss */
ins {
  background-color: white;
  color: #404040;
  text-decoration: none;
}

/* line 242, ../scss/_typography.scss */
mark {
  background-color: white;
  color: #404040;
  font-style: italic;
  font-weight: bold;
}

/* line 253, ../scss/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 0.875em;
  line-height: 1.714em;
}

/* line 259, ../scss/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 267, ../scss/_typography.scss */
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 2em;
  line-height: 0;
  vertical-align: 24px;
}

/* line 275, ../scss/_typography.scss */
sup {
  top: -0.5em;
}

/* line 280, ../scss/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 6, ../scss/_alerts.scss */
.alert {
  position: relative;
  margin: 0 auto 0 auto;
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.6);
  cursor: default;
}
/* line 19, ../scss/_alerts.scss */
.alert .close {
  float: right;
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  right: -21px;
  top: -14px;
}
/* line 31, ../scss/_alerts.scss */
.alert h4 {
  margin: 0;
}

/* line 37, ../scss/_alerts.scss */
.alert-block {
  background-color: #ffff99;
  border-color: #d8d882;
  color: #66663d;
}
/* line 43, ../scss/_alerts.scss */
.alert-block .close {
  color: inherit;
}

/* line 51, ../scss/_alerts.scss */
.alert-success {
  background-color: #99ea99;
  border-color: #82c682;
  color: #3d5d3d;
}
/* line 57, ../scss/_alerts.scss */
.alert-success .close {
  color: inherit;
}

/* line 64, ../scss/_alerts.scss */
.alert-warning {
  background-color: #ffea99;
  border-color: #d8c682;
  color: #665d3d;
}
/* line 70, ../scss/_alerts.scss */
.alert-warning .close {
  color: inherit;
}

/* line 77, ../scss/_alerts.scss */
.alert-error {
  background-color: #ff9999;
  border-color: #d88282;
  color: #663d3d;
}
/* line 83, ../scss/_alerts.scss */
.alert-error .close {
  color: inherit;
}

/* line 89, ../scss/_alerts.scss */
.alert-info {
  background-color: #99d6ea;
  border-color: #82b5c6;
  color: #3d555d;
}
/* line 95, ../scss/_alerts.scss */
.alert-info .close {
  color: inherit;
}

/* line 102, ../scss/_alerts.scss */
.alert-inverse {
  background-color: #404040;
  border-color: #363636;
  color: white;
  font-weight: normal;
}
/* line 109, ../scss/_alerts.scss */
.alert-inverse .close {
  color: inherit;
}

/* line 8, ../scss/_blocks.scss */
.blck {
  margin: 12px;
}

/* line 21, ../scss/_blocks.scss */
.bd, .ft, .hd {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

/* line 28, ../scss/_blocks.scss */
.well {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  background-image: linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
  margin-bottom: 1.5em;
  border-style: solid;
  border-width: 0.125em;
  padding: 0.625em;
  border-color: #bfbfbf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 15, ../scss/_texture.scss */
.well p {
  margin: 0;
}

/* line 34, ../scss/_blocks.scss */
.island {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 1.5em;
}
/* line 43, ../scss/_blocks.scss */
.island > :last-child {
  /* Remove the margin from the last child of a boxed off area so that we don't end up with compounded margin/padding spacings. */
  margin-bottom: 0;
}

/* Tables =================================================== */
/* line 13, ../scss/_tables.scss */
table {
  width: 100%;
  max-width: 100%;
  margin-top: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
  font-size: 1em;
  line-height: 1.5em;
}
/* line 29, ../scss/_tables.scss */
table th,
table td {
  padding-top: 0.615em;
  padding-bottom: 0.615em;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 1.714em;
  border-top-style: #bfbfbf;
  border-top-width: 0.063em;
  padding-top: -0.063em;
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  vertical-align: top;
}
/* line 47, ../scss/_tables.scss */
table th {
  font-weight: bold;
}
/* line 57, ../scss/_tables.scss */
table thead th {
  vertical-align: bottom;
}
/* line 65, ../scss/_tables.scss */
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 70, ../scss/_tables.scss */
table tbody + tbody {
  border-top-style: #bfbfbf;
  border-top-width: 0.125em;
  padding-top: 1.375em;
}
/* line 76, ../scss/_tables.scss */
table tbody tr td,
table tbody tr th {
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
/* line 84, ../scss/_tables.scss */
table tbody tr:hover td,
table tbody tr:hover th,
table tbody tr:nth-child(odd):hover td,
table tbody tr:nth-child(odd):hover th {
  background-color: #0099cc;
}

/* line 95, ../scss/_tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

/* line 103, ../scss/_tables.scss */
.table-bordered {
  border-style: #bfbfbf;
  border-width: 0.063em;
  padding: -0.063em;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
/* line 111, ../scss/_tables.scss */
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #bfbfbf;
}
/* line 117, ../scss/_tables.scss */
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

/* line 128, ../scss/_tables.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #e6e6e6;
}

/* line 11, ../scss/_demo.scss */
.swatch {
  width: 100%;
  float: left;
  margin-right: 3.448%;
  display: inline;
  height: 96px;
}
/* line 17, ../scss/_demo.scss */
.swatch div {
  float: left;
  width: 25%;
  height: 100%;
}
/* line 23, ../scss/_demo.scss */
.swatch div span {
  display: block;
  width: 100%;
  height: 10px;
}

/* line 33, ../scss/_demo.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 40, ../scss/_demo.scss */
.swatch-base div:nth-child(1) {
  background-color: #99d6ea;
}
/* line 44, ../scss/_demo.scss */
.swatch-base div:nth-child(1) span {
  background-color: #91cbde;
}

/* line 50, ../scss/_demo.scss */
.swatch-base div:nth-child(2) {
  background-color: #d6eef6;
}
/* line 54, ../scss/_demo.scss */
.swatch-base div:nth-child(2) span {
  background-color: #cbe2e9;
}

/* line 60, ../scss/_demo.scss */
.swatch-base div:nth-child(3) {
  background-color: #4c6b75;
}
/* line 64, ../scss/_demo.scss */
.swatch-base div:nth-child(3) span {
  background-color: #48656f;
}

/* line 70, ../scss/_demo.scss */
.swatch-base div:nth-child(4) {
  background-color: #00c0ff;
}
/* line 74, ../scss/_demo.scss */
.swatch-base div:nth-child(4) span {
  background-color: #00b6f2;
}

/* line 84, ../scss/_demo.scss */
.comp-base div:nth-child(1) {
  background-color: #00c0ff;
}
/* line 88, ../scss/_demo.scss */
.comp-base div:nth-child(1) span {
  background-color: #00b6f2;
}

/* line 94, ../scss/_demo.scss */
.comp-base div:nth-child(2) {
  background-color: #006bff;
}
/* line 98, ../scss/_demo.scss */
.comp-base div:nth-child(2) span {
  background-color: #0065f2;
}

/* line 104, ../scss/_demo.scss */
.comp-base div:nth-child(3) {
  background-color: #00ffe9;
}
/* line 108, ../scss/_demo.scss */
.comp-base div:nth-child(3) span {
  background-color: #00f2dd;
}

/* line 114, ../scss/_demo.scss */
.comp-base div:nth-child(4) {
  background-color: #ff3f00;
}
/* line 118, ../scss/_demo.scss */
.comp-base div:nth-child(4) span {
  background-color: #f23b00;
}

/* line 127, ../scss/_demo.scss */
.info-base div:nth-child(1) {
  background-color: #99d6ea;
}
/* line 131, ../scss/_demo.scss */
.info-base div:nth-child(1) span {
  background-color: #91cbde;
}

/* line 137, ../scss/_demo.scss */
.info-base div:nth-child(2) {
  background-color: #99c9ea;
}
/* line 141, ../scss/_demo.scss */
.info-base div:nth-child(2) span {
  background-color: #91bede;
}

/* line 147, ../scss/_demo.scss */
.info-base div:nth-child(3) {
  background-color: #99bbea;
}
/* line 151, ../scss/_demo.scss */
.info-base div:nth-child(3) span {
  background-color: #91b1de;
}

/* line 157, ../scss/_demo.scss */
.info-base div:nth-child(4) {
  background-color: #99a0ea;
}
/* line 161, ../scss/_demo.scss */
.info-base div:nth-child(4) span {
  background-color: #9198de;
}

/* line 171, ../scss/_demo.scss */
.error-base div:nth-child(1) {
  background-color: #ff9999;
}
/* line 175, ../scss/_demo.scss */
.error-base div:nth-child(1) span {
  background-color: #f29191;
}

/* line 181, ../scss/_demo.scss */
.error-base div:nth-child(2) {
  background-color: #fa9e9e;
}
/* line 185, ../scss/_demo.scss */
.error-base div:nth-child(2) span {
  background-color: #ed9696;
}

/* line 191, ../scss/_demo.scss */
.error-base div:nth-child(3) {
  background-color: #f5a3a3;
}
/* line 195, ../scss/_demo.scss */
.error-base div:nth-child(3) span {
  background-color: #e89a9a;
}

/* line 201, ../scss/_demo.scss */
.error-base div:nth-child(4) {
  background-color: #f0a8a8;
}
/* line 205, ../scss/_demo.scss */
.error-base div:nth-child(4) span {
  background-color: #e49f9f;
}

/* line 214, ../scss/_demo.scss */
.success-base div:nth-child(1) {
  background-color: #99ea99;
}
/* line 218, ../scss/_demo.scss */
.success-base div:nth-child(1) span {
  background-color: #91de91;
}

/* line 224, ../scss/_demo.scss */
.success-base div:nth-child(2) {
  background-color: #93f093;
}
/* line 228, ../scss/_demo.scss */
.success-base div:nth-child(2) span {
  background-color: #8be48b;
}

/* line 234, ../scss/_demo.scss */
.success-base div:nth-child(3) {
  background-color: #8df68d;
}
/* line 238, ../scss/_demo.scss */
.success-base div:nth-child(3) span {
  background-color: #85e985;
}

/* line 244, ../scss/_demo.scss */
.success-base div:nth-child(4) {
  background-color: #87fc87;
}
/* line 248, ../scss/_demo.scss */
.success-base div:nth-child(4) span {
  background-color: #80ef80;
}

/* line 258, ../scss/_demo.scss */
.warning-base div:nth-child(1) {
  background-color: #ffea99;
}
/* line 262, ../scss/_demo.scss */
.warning-base div:nth-child(1) span {
  background-color: #f2de91;
}

/* line 268, ../scss/_demo.scss */
.warning-base div:nth-child(2) {
  background-color: #fff399;
}
/* line 272, ../scss/_demo.scss */
.warning-base div:nth-child(2) span {
  background-color: #f2e691;
}

/* line 278, ../scss/_demo.scss */
.warning-base div:nth-child(3) {
  background-color: #fffb99;
}
/* line 282, ../scss/_demo.scss */
.warning-base div:nth-child(3) span {
  background-color: #f2ee91;
}

/* line 288, ../scss/_demo.scss */
.warning-base div:nth-child(4) {
  background-color: #fbff99;
}
/* line 292, ../scss/_demo.scss */
.warning-base div:nth-child(4) span {
  background-color: #eef291;
}
